{% extends 'home/base.html' %}
 
{% block content %}
<br>
    <div class="conatiner blog-body" style="margin-top: 15px">
        <div class="container bg-ioswhite rounded py-4 text-center" >
            {% for blog in blog_top %}
            <div class="row">
                <div class="col-md-8">
                    {%  if blog.blog_thumbnail_url%}
                    <img src="{{blog.blog_thumbnail_url}}" style = "width:100%; max-height:400px;" class="image-fluid header-blog-img"/>
                    
                {% else %}
                <img src="/media/{{blog.blog_thumbnail}}" style = "width:100%; max-height:400px;" class="image-fluid header-blog-img"/>

                {% endif %}
                </div>
                <div class="col-md-4 conatiner-flex">
                    
                    <span class="tags-{{ forloop.counter }} tags">
                        <input type="hidden" value="{{blog.tags}}" class="tags-holder-{{ forloop.counter }}"/>
                        <div class="tag bg-ioslight text-iosred">#trending</div>
                    </span>

                    <div class="mt-3">
                        
                        <div class="blog-info-details">
                            <a href="blog/{{blog.slug}}/">
                            <span class="text-small text-iosgray">{{blog.blog_creator}}</span>
                            <h4 class="font-weight-bold text-iosdark blog-text">{{blog.blog_title}}</h4>
                            <span class="text-small text-iosgray">{{blog.date}}</span>
                            <br>
                            </a>
                            <h6 class="text-iosyellow font-weight-bold">Trending no. 1</h6>
                        </div>
                        
                    </div>
                </div>
            </div>
            
           {% endfor %}
          </div>
        <div class="container pt-4 pb-4 bg-ioswhite mt-3  rounded ">
            <div class="flex-box">
               
                    <h2 class="text-ioswhite font-weight-bold">Top 6</h2>
                   <!-- <span class="material-icons font-weight-bold text-iosred mt-1">
                        trending_up
                        </span>-->
            </div>
            
            <div class="blog-data">
                
                {% for blog in blogs %}
                
                <div class="blog-info-det-main bg-ioswhite p-2 rounded-lg">
                    <a href="blog/{{blog.slug}}/" class="text-iosdark">
                    <div class="flex-box ">
                        <h2 class="text-iosgray mr-2">{{ forloop.counter }}</h2>
                        <div>
                        <span class="text-small text-iosgray">{{blog.blog_creator}}</span>
                        <span class="tags-{{ forloop.counter }} tags">
                            <input type="hidden" value="{{blog.tags}}" class="tags-holder-{{ forloop.counter }}"/>
                            <div class="tag bg-ioslight text-iosred">#trending</div>
                        </span>
                    <div>
                    <span class="mt-1 title-blog blog-text text-iosdark">{{blog.blog_title}}</span>
                </div>
                    <span class="text-iosgray">{{blog.date}}</span> 
                </div>     
                </div>
            </a>
                </div>
               
                {% endfor %}
            </div>
            
        </div>
<div class="container py-2 rounded mt-3">
    <div class="flex-box">
        <span class="heading">Top Creators </span><span class="material-icons text-iosgray mt-1">
            face
            </span>
    </div>
</div>
<div class="container py-2 rounded mt-3">
    <div class="flex-box">
        <span class="heading">Trending Tags</span><span class="material-icons text-iosprimary">
            style
            </span>
    </div>
</div>

<script>

    for(var i = 1;i<=6;i++){
        var tags_holder = $(".tags-holder"+`-${i}`).val()
        console.log(tags_holder)
        var tag_Arr = tags_holder.split(',')
        tag_Arr = tag_Arr.slice(0,4)
        for(j in tag_Arr){
        var tag = `<div class="tag bg-ioslight text-iosprimary">
            ${tag_Arr[j]}
        </div>`
        $(".tags"+`-${i}`).append(tag)
        }
    }
    
</script>
    {% endblock content %}