{% extends 'home/base.html' %}

{% block content %}
<style>
    .profile-nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .profile-li{
        max-width:120px;
        min-width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        margin-right: 5px;
        border-radius: 10px;
    }
    .active{
        
        color: #0a84ff;
    }
</style>

<div class="container bg-ioswhite  p-4">
    <div class="mb-2" style="max-height: 350px;overflow:hidden;">
        <img src="/media/thumbnails/20210908_202411.jpg" alt="" srcset=""  style="position:relative;width:100%;">
    </div>
            <h3>{{user.first_name}}{{user.last_name}} </h3>            
            <span class="text-iosgray text-small">{{user.username}} </span>
            <br>
            <a class="text-iosred text-small py-2">Subscribe 74.5k</a>
            
            <ol>
                <li>social media accounts list</li>
            </ol>
           
            <div class="breif text-small">
                <h2>About</h2>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, voluptatibus asperiores sequi veniam officiis commodi iure.
                Ad quia, vitae ea similique perspiciatis ipsum amet itaque quas enim, quis quae laboriosam.
            </div>
            <div class="user-details mt-2 text-small">
                <p>Joined <b>keDown</b> on {{user.date_joined|date:"M d, Y" }}</p>
            </div>
            <h2>Blogs</h2>
            <div class="my-blogs blog-data">
                
            </div>
            {% if request.user.username == user.username  %}
            <div class="container text-center rounded">
                
                <button class="btnios ios-pr">Create blog</button>
            </div>
            <span class=""><a href="/logout/">Logout</a></span>
            {% endif %}
            
        <input type="hidden" value="{{user.username}}" class="username-input"/>
   
    
</div>
<script>
    var blog_count = 0;
function getBlogs(){
        const username = $(".username-input").val()
        $.get("/blogs/"+username,function(data){
            if(data['blogs'].length>0){
                for(var i =0; i<data['blogs'].length;i++){
               
                    var item = `
                    <div class="blog-info-det-main bg-ioswhite p-2 rounded-lg">
                        <a href="/blog/${data['blogs'][i].slug}/" class="text-iosdark">
                        <div class="flex-box ">
                            <h2 class="text-iosgray mr-2">${i+1}</h2>
                            <div>
                            <span class="tags-${i+1} tags">
                                <input type="hidden" value="${data['blogs'][i].tags}" class="tags-holder-${i+1}"/>
                            </span>
                        <div>
                        <span class="mt-1 title-blog blog-text text-iosdark">${data['blogs'][i].title}</span>
                    </div>
                    
                        <span class="text-iosgray">${data['blogs'][i].date}</span> 
                    </div> 
                    </div>
                </a>
                <div>
                    </div>
                    </div>
                    
                    `
                $('.my-blogs').append(item)
                item = ``
                blog_count++;
                }
            }
            else{
                item = `<div class="container text-center rounded">
                    <h4 class="text-iosgray">No Blogs,Stories,Drafts</h4>
                </div>`
                $('.my-blogs').append(item)
            }
        })
    }
getBlogs()
</script>
{% endblock content %}